.list-container {
    margin: 12px auto;
    .info-row {
        display: flex;
        align-items: center;
        .sno {
            margin-left: 120px;
        }
        .date {
            padding: 12px 24px;
        }
        .title {
            padding: 12px 24px;
            width: 450px;
        }
        .date, .question, .solution {
            width: 120px;
        }
        .Notes {
            margin-left: 12px;
        }
    }
}