.list-container {
    margin: 12px auto;
    color: var(--base-white);
    font-size: 18px;
    font-weight: 500;
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 12px;
        margin-bottom: 12px;
        .back-btn {
            text-decoration: none;
            color: var(--base-white);
            position: absolute;
            left: 120px;
            font-size: 18px;
        }
    }
    .info-row {
        display: flex;
        align-items: center;
        .sno {
            margin-left: 120px;
            width: 36px;
        }
        .date {
            padding: 12px 24px;
        }
        .title {
            padding: 12px 24px;
            width: 450px;
        }
        .date, .question, .solution {
            width: 120px;
            a {
                text-decoration: none;
                color: var(--base-white);
            }
        }
        .Codes, .Notes {
            color: inherit;
            margin-left: 12px;
            border-radius: 10px;
        }
    }
}

@media only screen and (max-width: 576px) {
    .list-container {
        .header {
            .back-btn {
                left: 12px;
                font-size: 12px;
            }
        }
        .info-row {
            display: block;
            margin-bottom: 24px;
            .sno {
                margin-left: 12px;
            }
            .date {
                padding: 12px;
            }
            .title {
                display: block;
                padding: 12px;
                width: 100%;
            }
            .date, .question, .solution {
                display: inline-block;
                padding: 12px;
                width: 85px;
                a {
                    text-decoration: none;
                    color: var(--base-white);
                }
            }
            .Codes, .Notes {
                display: inline-block;
            }
        }
    }
}