.offcanvas-end {
    width: 900px !important;
}

.canvas-header {
    background-color: var(--base-light-1);
}

.canvas-body {
    background-color: var(--base-light-2);
    .tool-bar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 12px;
        .dropdown > .dropdown-toggle {
            margin-left: 12px;
            text-transform: capitalize;
        }
        .dropdown-menu {
            max-height: 400px;
            overflow-y: scroll;
        }
        .dropdown-item {
            text-transform: capitalize;
        }
    }
}

@media only screen and (max-width: 576px) { 
    .offcanvas-end {
        width: 100% !important;
    }
}