.notes-list-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0 200px;
    margin-top: 160px;
    gap: 24px;
    .notes-button {
        height: 54px;
        font-weight: 700;
        border-radius: 10px;
        background-color: var(--base-dark-1);
        color: var(--base-white);
        border: none;
        width: 180px;
    }
    .notes-button:hover, a:hover {
        color: var(--base-dark-1);
        background-color: var(--base-light-1);
        border-radius: 10px;
    }
}